# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
.env/
.venv/

# OS files (Windows/Mac)
.DS_Store
Thumbs.db

# Ignore uploads + results
uploads/
result.pdf

# IDE folders (agar use ho rahe ho)
.vscode/
.idea/